body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    margin: 10px;
    
}

#navigation{
    display: flex;
    justify-content:space-between;
    background-color: purple;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

#nav_items ul{
    display: flex;
    margin: 0;
}
#nav_items li  {
    text-decoration: none;
    display: inline-block;
    background-color: purple;
    padding: 15px;
    margin: 0;
    border: 2px white solid;
    transition: color 0.2s , background-color 0.2s;
}
#nav_items li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.2s ease-in;
}
#nav_items li:nth-child(4){
    margin-right: 0;
    border-right: 0;
}
#nav_items li:nth-child(1){
    border-left: 4px;
    border-color: white;
    border-style: solid;
}
#section1 {
    border: 5px purple solid;
    height: 500px;
    width: auto;
    margin-top: 20px;    
    border-radius: 20px;
    display: flex;
    position: relative;
}
#catimg img{
    height: 200px;
    border-radius:20px;
    position: absolute;
    top: 100px;
    left: 20px;
}
#cattitle h1{
    background-color: purple;
    text-align: center;
    color: white;
    
}
#cattitle{
    width: 100%;
    

}
